//
// Buttons
// --------------------------------------------------

.btn-outline-inverse {
  color: white;
  background-color: transparent;
  border-color: white;
  border-radius: 5px;

  &:hover {
    color: @brand-primary;
    text-shadow: none;
    background-color: white;
    border-color: white;
  }
}
