//
// Callouts
// --------------------------------------------------

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.callout-warning {
  border-left-color: @brand-primary;
}

.callout-danger {
  border-left-color: @brand-danger;
}

.callout-success {
  border-left-color: @brand-success;
}
