//
// CartJS
// --------------------------------------------------

.cart-visible-loading { visibility: hidden; }

body.cart-loading {
  .cart-visible-loading { visibility: visible; }
  .cart-hidden-loading { visibility: hidden; }
}
