//
// Layout
// --------------------------------------------------

html, .footer {
  background-color: @gray-lighter;
}

.footer {
  padding: 30px 0;

  .nav-pills {
    display: inline-block;
  }
}
