//
// Type
// --------------------------------------------------

// Remove margin from first header in reference and guide.
.reference, .guide {
  h2:first-child {
    //margin-top: 0;
  }
}

h1, h2 {
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

p {
  margin-bottom: 1em;
}

// Add a fancy schmancy checklist
.check-list {
  list-style:none;
  padding-left:1em
}

.check-list li:before {
  content:"\2714";
  padding-right:.5em
}
