<footer class="footer">
  <div class="container">

    <h3 class="text-center">Authors</h3>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 text-center">
        <p>
          <img src="{{ 'author-gavin.png' | asset_url }}" alt="Gavin Ballard" width="100" height="100" />
        </p>
        <p>
          <a href="http://gavinballard.com">Gavin Ballard</a> is an Australian software engineer currently residing in Sweden.
          He's the author of the <a href="http://bootstrapforshopify.com/?utm_source=cartjs&utm_medium=footer&utm_campaign=cartjs">Bootstrap for Shopify</a> framework and <a href="http://gavinballard.com/mastering-shopify-themes/?utm_source=cartjs&utm_medium=footer&utm_campaign=cartjs">Mastering Shopify Themes</a>.
        </p>
      </div>

      <div class="col-sm-4 text-center">
        <p>
          <img src="{{ 'author-disco.png' | asset_url }}" alt="Gavin Ballard" width="100" height="100" />
        </p>
        <p>
          <a href="https://www.discolabs.com/?utm_source=cartjs&utm_medium=footer&utm_campaign=cartjs">Disco</a> is a small Melbourne-based company focusing on Shopify development.
        </p>
      </div>
    </div>

    <div class="text-center">
      <ul class="nav nav-pills">
        <li><a href="#" data-toggle="currency" data-currency="EUR">EUR</a></li>
        <li><a href="#" data-toggle="currency" data-currency="USD">USD</a></li>
        <li><a href="#" data-toggle="currency" data-currency="GBP">GBP</a></li>
      </ul>
    </div>

    <h3 class="text-center">Thanks</h3>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <dl class="dl-horizontal">
          <dt>Michael Richards</dt>
          <dd><a href="http://www.rivetsjs.com/">Rivets.js</a></dd>
        </dl>
      </div>
    </div>

    <p class="small text-muted text-center">
      Cart.js is not officially affiliated with or endorsed by Shopify.
    </p>

  </div>
</footer>
