<nav class="navbar navbar-default navbar-{{ settings.navbar_positioning }}" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!-- Toggle Button for Navbar -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Brand / Logo -->
      <a class="navbar-brand" href="/" title="{{ shop.name }}">
        <span class="navbar-brand-logotype">
          {{ shop.name }}
        </span>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/pages/guide">Guide</a></li>
        <li><a href="/pages/reference">Reference</a></li>
        <li><a href="/pages/built-with-cart-js">Built With Cart.js</a></li>
        <li><a href="https://github.com/discolabs/cartjs">GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>
