{% assign page = pages.frontpage %}

<section class="jumbotron jumbotron-primary">
  <div class="container text-center">

    <p class="lead">
      A Javascript library to power cart management for Shopify themes.
    </p>

    <p>
      <a href="#" class="btn btn-lg btn-primary">Download</a>
    </p>

  </div>
</section>

<section class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button></button>
    </div>
  </div>

</section>