{% assign page = pages.frontpage %}

<section class="jumbotron jumbotron-primary">
  <div class="container text-center">

    <p class="lead">
      A Javascript library powering Shopify theme cart management.
    </p>

    <p>
      <a href="#" class="btn btn-lg btn-primary">Download</a>
    </p>

  </div>
</section>