<div class="jumbotron"><section class="container"><div class="row"><article class="col-md-9"><h3 id="core-api">Core API</h3><p>The &quot;Core&quot; API for Cart.js includes all the methods you need to dynamically manipulate the cart.</p>
<p>All of these methods are available on the global <code>CartJS</code> object.
They can be called from anywhere - an event handler, your startup code, event in an <code>onclick=&quot;&quot;</code> attribute if you&#39;re feeling old school.</p>
<h4><code>getCart()</code></h4>
<p>Fetch the current cart status from the server.</p>
<h4><code>addItem(id, quantity = 1, properties = {})</code></h4>
<p>Add a product variant with the given <code>id</code> to the cart.</p>
<h3 id="data-api">Data API</h3><h3 id="dom-binding">DOM Binding</h3></article><aside class="col-md-3"><nav><ul class="nav"><li><a href="#core-api">Core API</a></li><li><a href="#data-api">Data API</a></li><li><a href="#dom-binding">DOM Binding</a></li></ul></nav></aside></div></section></div>