<div class="jumbotron"><section class="container"><div class="row"><article class="col-md-9"><h3 id="introduction">Introduction</h3><p>Cart.js is a Javascript library that makes it easy to add dynamic cart features to Shopify themes.</p>
<p>It abstracts away some of the difficulties of working with Shopify&#39;s AJAX API (such as the limited nature of some of the API endpoints and the need to make API calls synchronously) and provides a simple, consistent interface to manipulating a customer&#39;s cart.</p>
<h3 id="getting-started">Getting Started</h3><p>First, get the latest stable release of <code>cart.js</code> <a href="https://github.com/discolabs/cartjs/blob/master/dist/cart.js">here</a> (You can get a pre-minified version, <code>cart.min.js</code> from <a href="https://github.com/discolabs/cartjs/blob/master/dist/cart.min.js">here</a> if you&#39;d prefer).</p>
<p>Add the chosen <code>.js</code> file to your theme&#39;s <code>assets</code> directory, then include the script on your page and initialise Cart.js.
The best place to do this is at the bottom of your theme&#39;s <code>theme.liquid</code> file, so that Cart.js functionality is available across your whole site.
Because Cart.js depends on jQuery, you should load it after you&#39;ve include the jQuery library.</p>
<p>{% raw %}</p>
<pre><code class="language-liquid">        ... contents of your theme&#39;s theme.liquid ...

        &lt;!-- Include jQuery from Google&#39;s CDN (your theme may already include jQuery, if so, skip this line) --&gt;
        {{ &#39;//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js&#39; | script_tag }}

        &lt;!-- Include Cart.js --&gt;
        {{ &#39;cart.min.js&#39; | asset_url | script_tag }}

        &lt;!-- Initialise Cart.js once the page has loaded --&gt;
        &lt;script type=&quot;text/javascript&quot;&gt;
            jQuery(function() {
                CartJS.init({{ cart | json }});
            });
        &lt;/script&gt;

    &lt;/body&gt;
&lt;/html&gt;</code></pre>
<p>{% endraw %}</p>
</article><aside class="col-md-3"><nav><ul class="nav"><li><a href="#introduction">Introduction</a></li><li><a href="#getting-started">Getting Started</a></li></ul></nav></aside></div></section></div>