| {% include 'variables' %}

section.jumbotron.jumbotron-primary
    .container.text-center
        h3 A Javascript library to power your Shopify theme's cart.
        a.btn.btn-lg.btn-outline-inverse(href="{{ 'cartjs.zip' | asset_url }}") Download Cart.js v{{ version }}

section.jumbotron
    .container
        .row
            .col-md-8.col-md-offset-2
                != partial('sections/what-is-cart-js')

        .row
            .col-md-10.col-md-offset-1
                .example.example-live
                    != partial('sections/demo-simple')

                .example-code.collapse(id="demo-simple-code")
                    != partial('sections/demo-simple-code')

                .example-footer
                    a(data-toggle="collapse" href="#demo-simple-code") Show markup for this example


        .row
            .col-md-8.col-md-offset-2
                != partial('sections/can-it-do-more')

        .row
            .col-md-10.col-md-offset-1
                .example.example-live
                    != partial('sections/demo-advanced')

                .example-code.collapse(id="demo-advanced-code")
                    != partial('sections/demo-advanced-code')

                .example-footer
                    a(data-toggle="collapse" href="#demo-advanced-code") Show markup for this example

        .row
            .col-md-8.col-md-offset-2
                != partial('sections/further-questions')
