section.jumbotron.jumbotron-primary
    .container.text-center
        h3 A Javascript library to power your Shopify theme's cart.
        p.lead
            a.btn.btn-lg.btn-outline-inverse(href="{{ 'cartjs.zip' | asset_url }}") Download Cart.js v#{version}

section.jumbotron
    .container
        .row
            .col-md-8.col-md-offset-2
                h2 What is Cart.js?
                != partial('../guide/sections/introduction/what')

                .example.example-live
                    .well.well-sm.
                        <img src="{{ 'loader.gif' | asset_url }}" class="cart-visible-loading pull-right" width="16" height="11" alt="Loading..." />
                        You have
                        <strong data-cart-render="item_count"></strong>
                        items in your cart for a total of
                        <strong data-cart-render="total_price_money_with_currency"></strong>.

                    .row
                        .col-xs-4
                            button.btn.btn-block.btn-default(data-cart-add="716934999" data-cart-quantity="1") <span class="hidden-xs">Add </span><span class="visible-xs-inline">+</span>Hat
                        .col-xs-4
                            button.btn.btn-block.btn-default(data-cart-add="716986707" data-cart-quantity="2") <span class="hidden-xs">Add 2 </span><span class="visible-xs-inline">+</span>Coats
                        .col-xs-4
                            button.btn.btn-block.btn-default(data-cart-clear="") Clear<span class="hidden-xs"> Cart</span>

                != partial('sections/demo-simple-code')

section.jumbotron
    .container
        .row
            .col-md-6
                h3 Okay, show me what it can do!

                p Sure! This site is actually hosted on Shopify, so we can see Cart.js in action right here.
                p Why not start by clicking one of the buttons below to add a product to your cart?

                .row.form-group
                    !="{% for product in collections.frontpage.products %}"
                    .col-xs-6
                        button.btn.btn-block.btn-default(data-cart-add="{{ product.variants.first.id }}") Add a {{ product.title | escape }}
                    !="{% endfor %}"
            .col-md-6
                != partial('sections/okay-show-me-table')

        .row
            .col-md-6.col-md-offset-3
