section.jumbotron.jumbotron-primary
    .container.text-center
        h3 A Javascript library to power cart management for Shopify themes.
        p.lead
            a.btn.btn-lg.btn-outline-inverse(href="{{ 'cartjs.zip' | asset_url }}") Download Cart.js

section.jumbotron
    .container
        .row
            .col-md-6
                != partial('sections/what-is-cart-js')
            .col-md-6
                != partial('sections/why-should-i-use-it')
