section.jumbotron.jumbotron-primary
    .container.text-center
        h3 A Javascript library to power cart management for Shopify themes.
        p.lead
            a.btn.btn-lg.btn-outline-inverse(href="{{ 'cartjs.zip' | asset_url }}") Download Cart.js

section.jumbotron
    .container
        .row
            .col-md-6
                != partial('sections/what-is-cart-js')
            .col-md-6
                != partial('sections/why-should-i-use-it')

section.jumbotron
    .container
        .row
            .col-md-6
                != partial('sections/okay-show-me')
                .row.form-group
                    !="{% for product in collections.frontpage.products %}"
                    .col-xs-6
                        button.btn.btn-block.btn-default(data-cart-add="{{ product.variants.first.id }}") Add a {{ product.title | escape }}
                    !="{% endfor %}"
            .col-md-6
                != partial('sections/okay-show-me-table')
